* {
  box-sizing: border-box;
}

body {
  background: url('background.png');
}

main {
  margin: auto;
  max-width: 900px;
  min-width: 700px;
  height: 300px;
  border: 2px solid #795548;
  background: white;
}

#editor {
  height: 80%;
  padding: 10px 20px;
}

#toolbar {
  background: #ffeb3b;
  border-top: 1px solid #795548;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar > a,
.wrapper {
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 1px;
  height: 36px;
  width: 36px;
  color: #000;
  padding: 5px;
  margin: 0 2px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 0px #ccc;
  user-select: none;
}

#toolbar > a:hover,
.wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

#toolbar > div:first-child {
  padding: 0;
  width: 115px;
  text-align: center;
  line-height: 36px;
}

.wrapper {
  cursor: pointer;
  position: relative;
}

a.palette-item {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 4px;
  margin: 2px;
  border: 1px solid #ccc;
}

.palette {
  display: none;
}

.wrapper:hover .palette {
  display: block;
  position: relative;
  padding: 3px;
  width: 128px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ccc;
  height: 70px;
}

a.palette-item:hover {
  box-shadow: 0 0 3px #333;
}

/**********************************************/

.size-board {
  display: none;
}

.wrapper:hover .size-board {
  display: block;
  position: absolute;
  width: 100px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ccc;
  height: 107px;
  padding-top: 5px;
  left: 5px;
}

a.fontSize-item {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 1px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

a.fontSize-item:hover {
  background: #ddd;
}