* {
  box-sizing: border-box;
}

#toolbar {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar > a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 1px;
  height: 36px;
  width: 36px;
  color: #000;
  padding: 5px;
  margin: 0 2px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 0px #ccc;
  user-select: none;
}

#toolbar > a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

#toolbar > a:first-child {
  padding: 0;
  width: 110px;
  text-align: center;
  line-height: 36px;
}

.fore-wrapper,
.back-wrapper {
  cursor: pointer;
}

a.palette-item {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 4px;
  margin: 2px;
  border: 1px solid #ccc;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  position: relative;
  padding: 3px;
  width: 158px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ccc;
  height: 70px;
}

a.palette-item:hover {
  box-shadow: 0 0 3px #333;
}